li {
    list-style: none;
}

body {
    background-color: #BCBABA;
    font-family: "Poppins", serif;
}
.container {
    width: 360px;
    margin: 0 auto;
    height: 100vh;
    background-color: #FC4A3A;
    border-radius: 30px;
}
.img{
    width: 360px;
    height: 270px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.img1{
    position: relative;
    bottom: 220px;
    left: 20px;
}
.rasm{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 290px;
    left: 220px;
    border: 1px solid black;
    width: 110px;
    height: 30px;
    border-radius: 32px;
    background-color: #0000006E;
}
.p{
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0px 5px;
}
.img2, .img3{
    width: 19px;
    height: 19px;
}
.img4{
    width: 18px;
    height: 18px;
}
.h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #4A4A4A;
    border: none;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.p1{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #616161;
    position: relative;
    bottom: 40px;
    left: 15px;
}
.kotta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 10px;
}
.p4{
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #9E9E9E;
    margin-left: 35px;
}
main{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -150px;
}
.katta{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.p5{
    font-weight: 300;
    font-size: 9px;
    line-height: 13.5px;   
    color: black;
    margin-top: -50px;
}
.p51{
    font-weight: 300;
    font-size: 9px;
    line-height: 13.5px;   
    color: black;
}
.p52{
    font-weight: 300;
    font-size: 9px;
    line-height: 13.5px;   
    color: black;
}
.p53{
    font-weight: 300;
    font-size: 9px;
    line-height: 13.5px;   
    color: black;
}
.p54{
    font-weight: 300;
    font-size: 9px;
    line-height: 13.5px;   
    color: black;
}
.p6{
    font-weight: 500;
    font-size: 9px;
    line-height: 13.5;
    color: #0F0C0C;
}
.p6{
    font-weight: 500;
    font-size: 9px;
    line-height: 13.5px;
    color: #0F0C0C;
    margin-top: -50px;
}
.p61{
    font-weight: 500;
    font-size: 9px;
    line-height: 13.5px;
    color: #0F0C0C;
}
.p62{
    font-weight: 500;
    font-size: 9px;
    line-height: 13.5px;
    color: #0F0C0C;
}
.p63{
    font-weight: 500;
    font-size: 9px;
    line-height: 13.5px;
    color: #0F0C0C;
}
.p2{
    font-family: "Dorsa", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 21.14px;
    color: #5E5959;
}
.p3{
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #5E5959;
    width: 179px;
    margin-top: -15px;
    height: 84px;
}
.iichki{
    display: flex;
    justify-content: center;
    position: relative;
}
.p7{
    font-weight: 500;
    font-style: italic;
    font-size: 7px;
    line-height: 9px;
    color: black;
}
.left{
    margin-top: 30px;
    box-sizing: border-box;
}
.tort{
    display: inline;
    border: 1px solid rgb(229, 229, 229);
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 10px;
    border-radius: 25px;
    box-sizing: border-box;
}
.img8{
    margin: 0px 10px;
    border-radius: 20px;
}
.p8{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #797979;
    font-style: italic;
    margin-left: 30px;
    margin-bottom: 3px;
}
#select{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 100px;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 30px;
}
.option{
    font-weight: 500;
    font-size: 17px;
    line-height: 25.5px;
    color: #5E5959;
}
.span{
    font-weight: 300;
    font-size: 17px;
    line-height: 25.5px;
    font-style: italic;
    color: #cac8c8;
}
.edit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -35px;
    margin-right: 10px;
}
.p9{
    font-weight: 300;
    font-size: 13px;
    line-height: 19.5px;
    color: #757575;
}
.editimg{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
#selecet{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 260px;
    margin-left: 10px;
    border-radius: 20px;
    border: 1px solid #FF785B;
}
.pan{
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #5E5959;
}
.p10{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
    color: #5E5959;
    margin-left: 15px;
    margin-bottom: -2px;
}
.img5{
    margin-bottom: 50px;
}
.img6{
    margin-bottom: 30px;
}
.left_side{
    margin-left: 10px;
}
.line{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -30px;
}
.img7{
    width: 53.71px;
    height: 20px;
}
.pastki{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    width: 335px;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #FF785B;
    height: 55px;

}
.plus{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(255, 255, 255);
    height: 30px;
    width: 80px;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 15px;
}
.img9{
    width: 31.85px;
    height: 31px;
}
.p11{
    font-family: "Aclonica", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #FEFAF9;
}
.pl{
    color: #FEFBFA;
    font-weight: 400;
    font-size: 21px;
    line-height: 22.2px;
}
footer{
    background-color: #FFFFFF;
    padding: 5.95px 0px;
    display: flex;
    justify-content: space-around;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px 0px;
}
.arow{
    position: relative;
    right: 180px;
    top: 20px;
}